{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "object-curly-spacing": ["warn", "always"],
    "unicorn/no-abusive-eslint-disable": "off"
  }
}
