#network {
  width: 100%;
  height: 100%;
}

.high {
  position: absolute;
  z-index: 1;
  background-color: whitesmoke;
  margin: 1em;
  padding: 1em;
}

html, body {
  height: 100%;
}

body {
  margin: 0%;
  font-family: sans-serif;
}
